/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 span {
  font-size: 4rem;
  font-weight: 1000;
}
h2 {
  font-size: 3.2rem;
}
h3,
h3 a {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p,
a,
ul,
li,
span {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.btn-style {
  color: white;
  font-weight: bold;
  background-color: #E27D60;
  border: none;
  cursor: pointer;
}
.btn-style:hover {
  animation-name: pulse;
  animation-duration: 0.5s;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
header div.navbar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;
}
header div.navbar-area div.dropdown {
  z-index: 2;
}
header div.navbar-area div.dropdown .dropdown-btn {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #DF6C4F;
  cursor: pointer;
}
header div.navbar-area div.dropdown .dropdown-btn i {
  font-size: 5rem;
  color: white;
}
header div.navbar-area div.dropdown .dropdown-btn:hover {
  background-color: #49c5b6;
}
header div.navbar-area div.dropdown .dropdown-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #E27D60;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}
header div.navbar-area div.dropdown .dropdown-content a {
  color: #49c5b6;
  padding: 0.5rem 0;
  z-index: 2;
}
header div.navbar-area div.dropdown .dropdown-content .btn-signup,
header div.navbar-area div.dropdown .dropdown-content .btn-login {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-weight: normal;
  color: white;
  margin-bottom: 1rem;
}
header div.navbar-area div.dropdown .dropdown-content .btn-login {
  background-color: #47B3A3;
}
header div.navbar-area div.dropdown .dropdown-hidden {
  display: none;
}
header div.navbar-area .user-nav a {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: white;
  border: 1px solid #E27D60;
}
header div.navbar-area .user-nav a:hover {
  color: #E27D60;
  background-color: white;
  border: 1px solid #E27D60;
}
@media (min-width: 800px) {
  header div.navbar-area img {
    order: -1;
  }
  header div.navbar-area div.dropdown .dropdown-btn {
    display: none;
  }
  header div.navbar-area div.dropdown .dropdown-content {
    justify-content: space-between;
    position: inherit;
  }
  header div.navbar-area div.dropdown .dropdown-content a {
    margin: 0 2rem;
  }
  header div.navbar-area div.dropdown .dropdown-content .btn-login,
  header div.navbar-area div.dropdown .dropdown-content .btn-login {
    margin: 0 1rem;
  }
  header div.navbar-area div.dropdown .dropdown-hidden {
    display: block;
  }
}
.hero {
  width: 100%;
  position: relative;
  margin: 2rem 0;
}
.hero .bg-img {
  background-image: url("../assets/header_img_1.jpg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
  margin: 2rem 0;
}
.hero .hero-text {
  text-align: center;
  color: white;
  padding-top: 2rem;
  margin: 0 2rem;
}
.hero .hero-search {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem auto;
  width: 75%;
  max-width: 600px;
}
.hero .hero-search form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-search form input,
.hero .hero-search form select {
  padding: 1rem;
  margin: 0 0 1.5rem;
  border-radius: 3px;
  border: 1px solid grey;
  width: 80%;
  opacity: 0.8;
}
.hero .hero-search form input:first-child,
.hero .hero-search form select:first-child {
  margin-top: 1.5rem;
}
.hero .hero-search form .search-btn {
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
@media (min-width: 1000px) {
  .hero .hero-search {
    width: 50%;
  }
  .hero .hero-search form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
  }
  .hero .hero-search form input,
  .hero .hero-search form select {
    margin: 0 1.5rem 0 0;
    padding: 1rem;
    width: 56%;
  }
  .hero .hero-search form input:first-child,
  .hero .hero-search form select:first-child {
    margin-top: 0;
  }
  .hero .hero-search form select {
    width: 24%;
  }
  .hero .hero-search form button {
    width: 20%;
  }
}
.featured-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #E27D60, #47B3A3);
  color: white;
  text-align: center;
  padding-top: 4rem;
}
.featured-container .featured-box-collection {
  padding: 2em 0;
  max-width: 1024px;
}
.featured-container .featured-box-collection .featured-box {
  max-width: 100%;
  margin: 1rem auto;
  background-color: white;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.featured-container .featured-box-collection .featured-box .featured-badge {
  background-color: #DF6C4F;
  transform: rotate(-45deg);
  position: absolute;
  line-height: 35px;
  left: -50px;
  top: 40px;
  width: 200px;
  z-index: 2;
}
.featured-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
  color: #313342;
}
.featured-wrapper img {
  border-radius: 4px;
  margin: 2rem auto;
}
.featured-wrapper .featured-card-text {
  text-align: left;
  width: 100%;
}
.featured-wrapper .featured-card-text h3 a {
  color: #313342;
}
.featured-wrapper .featured-card-text .featured-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.featured-wrapper .featured-card-text .featured-author img {
  background-color: white;
  margin: 0 0.5rem 0 0;
}
.featured-wrapper .featured-card-text .featured-author p a {
  color: #313342;
}
.featured-wrapper .featured-card-text .featured-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #ebedf2;
  padding: 2rem 0;
  margin: 1.2rem 0;
  flex-wrap: wrap;
}
.featured-wrapper .featured-card-text .featured-stats ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.featured-wrapper .featured-card-text .featured-stats ul li {
  margin-right: 1.5rem;
}
.featured-wrapper .featured-card-text .featured-stats ul li.btn-style {
  padding: 0 1rem;
  border-radius: 4px;
  font-weight: normal;
}
.featured-text {
  width: 90%;
  padding-bottom: 2rem;
}
.featured-text p {
  margin-top: 2rem;
  line-height: 3rem;
}
@media (min-width: 800px) {
  .featured-container {
    flex: none;
  }
  .featured-container .featured-box-collection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
  }
  .featured-container .featured-box-collection .featured-box {
    width: 45%;
  }
  .featured-container .featured-box-collection .featured-box .featured-wrapper {
    max-width: 90%;
  }
}
.overview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem;
  color: black;
  background-color: white;
}
.overview-container .overview-links {
  border: 1px solid #ebedf2;
  border-radius: 2px;
  display: inline-box;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem auto;
}
.overview-container .overview-links div {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin: 1rem;
  background-color: #E8A87C;
}
.overview-container .overview-links .link-select {
  background-color: #E27D60;
}
.overview-container .overview-cards-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.overview-container .overview-cards-container .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem;
  color: #313342;
  border-radius: 4px;
  border: 1px solid #ebedf2;
}
.overview-container .overview-cards-container .card-wrapper img {
  border: none;
  margin: 0 0 2rem;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text {
  text-align: left;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text h3 a {
  color: #313342;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-author img {
  background-color: white;
  margin: 0 0.5rem 0 0;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-author p a {
  color: #313342;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #ebedf2;
  padding: 2rem 0;
  margin: 1.2rem 0;
  flex-wrap: wrap;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-stats ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-stats ul li {
  margin-right: 1.5rem;
}
.overview-container .overview-cards-container .card-wrapper .featured-card-text .featured-stats ul li.btn-style {
  padding: 0 1rem;
  border-radius: 4px;
  font-weight: normal;
}
.overview-container .btn-see-more {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin: 1rem auto;
  max-width: 30%;
}
.overview-container .btn-see-more a {
  color: white;
}
@media (min-width: 800px) {
  .overview-container .overview-cards-container {
    max-width: 900px;
  }
}
.stats-section {
  width: 100%;
  margin: 2rem 0 0;
  background-color: #DF6C4F;
  color: white;
}
.stats-section .stats-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 650px;
}
.stats-section .stats-numbers div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem auto;
  min-width: 220px;
}
.stats-section .stats-numbers div i,
.stats-section .stats-numbers span,
.stats-section .stats-numbers p {
  font-size: 2.8rem;
  text-align: center;
}
@media (min-width: 1000px) {
  .stats-section .stats-numbers {
    max-width: 1024px;
  }
}
.stats-section .top-author {
  width: 90%;
  margin: 1rem auto 0;
  text-align: center;
}
.stats-section .top-author p {
  font-size: 2.8rem;
}
.stats-section .top-author .author-style {
  width: 100%;
  margin: 1rem auto 0;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}
.subscribe-section {
  position: relative;
  width: 100%;
}
.subscribe-section .bg-img {
  background-image: url("../assets/header_img_2.jpg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}
.subscribe-section .subscribe-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
  margin: 0 auto;
  font-size: 5rem;
}
.subscribe-section .subscribe-text p {
  line-height: 4rem;
  padding: 2rem 0;
}
.subscribe-section .subscribe-text form {
  width: 70%;
  max-width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.subscribe-section .subscribe-text form input {
  padding: 1rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid grey;
  width: 60%;
  opacity: 0.8;
  height: 100%;
}
.subscribe-section .subscribe-text form .search-btn {
  padding: 1rem 1.5rem;
  border-radius: 0 4px 4px 0;
  border: none;
}
footer {
  width: 90%;
  max-width: 1024px;
  margin: 2rem auto 0;
}
footer .footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
footer .footer-section .company-info {
  width: 40%;
}
footer .footer-section .contact {
  width: 40%;
  line-height: 6rem;
}
footer .social-links {
  text-align: center;
  padding-top: 2rem;
}
footer .social-links a {
  font-size: 2rem;
  padding: 0 1rem;
  color: #DF6C4F;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
}
.page-container .half-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 50%;
  text-align: center;
  background-color: #49c5b6;
}
.page-container .half-screen h2 {
  padding: 3rem 0;
  color: white;
}
.page-container .container-change {
  width: 90%;
  margin: 2rem auto;
}
.page-container .container-change p {
  text-align: center;
}
@media (min-width: 800px) {
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .page-container .half-screen {
    width: 50%;
    height: 100vh;
  }
  .page-container .form-container {
    width: 50%;
    height: 100vh;
  }
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 100%;
  height: 50%;
}
.form-container form {
  margin: 0 auto;
  width: 100%;
}
.form-container form .container-input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.form-container .user-form-text {
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
  background-color: #49c5b6;
  color: white;
}
.input-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.input-holder input {
  width: 80%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 100px;
  border: 1px solid grey;
  background-color: white;
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
.btn-wrapper .btn-login {
  background-color: #47B3A3;
}
.btn-signup,
.btn-login {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-weight: normal;
  color: white;
  margin: 1rem 2rem;
}
.btn-signup:hover,
.btn-login:hover {
  animation-duration: 0s;
}
