/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 span {
  font-size: 4rem;
  font-weight: 1000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p,
a,
ul,
li,
span {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.btn-style {
  color: white;
  font-weight: bold;
  background-color: #E27D60;
  border: 1px solid #E27D60;
  cursor: pointer;
}
header div.navbar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;
}
header div.navbar-area div.dropdown {
  position: absolute;
  top: 25px;
}
header div.navbar-area div.dropdown .dropdown-btn {
  border: 1px solid grey;
  border-radius: 5px;
}
header div.navbar-area div.dropdown nav.dropdown-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #E27D60;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}
header div.navbar-area .nav-btn .btn-signup,
header div.navbar-area .btn-login {
  padding: 1rem;
  border-radius: 4px;
}
header div.navbar-area .nav-btn .btn-login {
  background-color: #47B3A3;
  border: 1px solid #47B3A3;
}
.hero {
  width: 100%;
  position: relative;
  margin: 2rem 0;
}
.hero .bg-img {
  background-image: url("../assets/header_img_1.jpg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
  margin: 2rem 0;
}
.hero .hero-text {
  text-align: center;
  color: white;
  padding-top: 2rem;
}
.hero .hero-search {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem auto;
  width: 75%;
}
.hero .hero-search form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-search form input,
.hero .hero-search form select {
  padding: 2rem;
  margin: 0 0 1.5rem;
  border-radius: 3px;
  border: 1px solid grey;
  width: 80%;
  opacity: 0.8;
}
.hero .hero-search form input:first-child,
.hero .hero-search form select:first-child {
  margin-top: 1.5rem;
}
.hero .hero-search form .search-btn {
  padding: 1.5rem 4rem;
  border-radius: 4px;
}
