.page-container {
    .flex(center, center, column-reverse);
    width: 100vw;
    height: 100vh;

    .half-screen {
        .flex(center, center, column);
        width: 100vw;
        height: 50%;
        text-align: center;
        background-color: @green;

        h2 {
            padding: 3rem 0;
            color: white;
        }
    }

    
    .container-change {
            width: 90%;
            margin: 2rem auto;
            p {
                text-align: center;
            }
    }

    @media @tablet {
        .flex(center, center, row);
        
        .half-screen {
            width: 50%;
            height: 100vh;
        }
        
        .form-container {
            width: 50%;
            height: 100vh;
        }
    }
}

.form-container {
    .flex(center, center, column);
    background-color: white;    
    margin: auto;
    width: 100%;
    height: 50%;
    
    form {
        margin: 0 auto;
        width: 100%;

        .container-input-btn {
            .flex(center, center, column);
            width: 90%;
            margin: 0 auto;
        }
    }

    .user-form-text {
        padding: 1rem;
        margin: 1rem auto;
        text-align: center;
        width: 100%;
        background-color: @green;
        color: white;
    }
}

.input-holder {
    .flex(center, center, column);
    width: 80%;
    margin: 0 auto;

    input {
        width: 80%;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 100px;
        border: 1px solid grey;
        background-color: white;
    }
}

.btn-wrapper {
    .flex(space-around, center, row);
    width: 80%;
    margin: 0 auto;

    .btn-signup, .btn-login {
        padding: 1rem 1.5rem;
        border-radius: 4px;
        font-weight: normal;
        color: white;
        margin: 1rem 2rem;
    }

    .btn-login {
        background-color: @bluish-green;
    }
}