.flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
}

.grad (@first, @second) {
    background-image: 
    linear-gradient(to bottom right, @first, @second);
  }


// TO DELETE BEFORE PRODUCTION
.showBorder(@color: blue, @size: 1px, @style: solid) {
    border: @size @style @color;
}