// COLOR SCHEME
@redish: #E27D60;
@bluish: rgb(133, 205, 202);
@orangeish: #E8A87C;
@purlpleish: #C38D9E;
@bluish-green: #47B3A3;
@orange: #DF6C4F;
@green: #49c5b6;

// TABLET VIEW
@tablet: ~'(min-width: 800px)';

// DESKTOP VIEW
@desktop: ~'(min-width: 1000px)';
