.overview-container {
    .flex(center, center, column);
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
    color: black;
    background-color: white;

    .overview-links {
        border: 1px solid #ebedf2;
        border-radius: 2px;
        display: inline-box;
        width: 90%;
        .flex(center, center, row);
        flex-wrap: wrap;
        padding: 1rem;
        margin: 2rem auto;

        div {
            font-size: 1.6rem;
            padding: 1rem 1.5rem;
            border-radius: 4px;
            margin: 1rem;
            background-color: @orangeish;
        }

        .link-select {
            background-color: @redish;
        }
    }

    .card-wrapper {
        border-radius: 4px;
        border: 1px solid #ebedf2;
        margin-top: 3rem;

        img {
            border: none;
            margin: 0 0 2rem;
        }
    }
    
    .featured-card-text {
        max-width: 90%;
    }
    
    .btn-see-more {
        padding: 1rem 1.5rem;
        border-radius: 4px;
        margin: 1rem auto;
        max-width: 30%;

        a {
            color: white;
        }
    }

    @media @desktop {
        .overview-cards-container {
            .flex(space-around, center, row);
            flex-wrap: wrap;
        }
    }
}